<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}videos.html">VIDEOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}contact.html">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}pieces-of-sound.html">PIECES OF SOUND</a>
      </li>
    </ul>
  </div>
</nav>
<script type="text/javascript">
  $(document).ready(function(){
    $('.navbar-toggler').on('click', function(){
      $('#nav').toggle('slow')
    });
  });

</script>
